.about {
  background-color: white;
  width: 100%;
  padding: 200px 0 200px 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  color: rgba(144, 110, 103, 1);
}

.about__all-container {
  max-width: 1386px;
  margin: 0 auto 0 auto;
}

.about__header-container {
  display: flex;
  margin: 0 auto 70px 0;
}

.about__header {
  font-size: 60px;
  font-weight: 500;
  line-height: 50px;
  font-family: "Playfair Display";
  margin: 0 19px 0 0;
  padding: 0;
}

.about__line {
  width: 450px;
  height: 1px;
  background-color: rgba(144, 110, 103, 1);
  margin: 36px 0 0 0;
}

.about__container {
  display: flex;
}

.about__photo {
  width: 583px;
  height: 873px;
  border-radius: 10px;
  margin: 0 122px 0 0;
}

.about__info-container {
  display: flex;
  flex-direction: column;
}

.about__paragraph {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  margin: 0 0 120px 0;
  padding: 0;
}

.about__list {
  list-style-image: url("../../images/list-bullet.svg");
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  margin: 0 0 0 28px;
  padding: 0;
}

.about__list-item {
  margin: 0 0 25px 0px;
  padding-left: 40px;
}

.about__list-item:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1439px) {
  .about {
    padding: 100px 0 100px 0;
  }

  .about__container {
    flex-direction: column;
    align-items: center;
  }

  .about__all-container {
    max-width: 984px;
  }

  .about__header-container {
    margin: 0 auto 50px 0;
  }

  .about__header {
    font-size: 45px;
    line-height: 55px;
  }

  .about__line {
    width: 387px;
    margin: 30px 0 0 0;
  }

  .about__photo {
    width: 783px;
    height: 845px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto 32px auto;
  }

  .about__info-container {
    align-items: center;
  }

  .about__paragraph {
    max-width: 660px;
    line-height: 26px;
    margin: 0 0 37px 0;
    text-align: center;
  }

  .about__list {
    max-width: 641px;
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 0 28px;
    padding: 0;
  }
}

@media screen and (max-width: 1023px) {
  .about {
    padding: 75px 0 75px 0;
  }

  .about__all-container {
    max-width: 708px;
  }

  .about__header-container {
    margin: 0 auto 35px 0;
  }

  .about__header {
    font-size: 35px;
    line-height: 45px;
  }

  .about__photo {
    width: 500px;
    height: 550px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto 32px auto;
  }

  .about__paragraph {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 30px 0;
    text-align: center;
  }

  .about__list {
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (max-width: 763px) {
  .about {
    padding: 100px 0 100px 0;
  }

  .about__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about__all-container {
    display: flex;
    flex-direction: column;
    max-width: 290px;
    margin: 0 auto 0 auto;
  }

  .about__header-container {
    margin: 0 auto 35px 0;
  }

  .about__header {
    font-size: 26px;
    line-height: 36px;
    margin: 0 37px 0 0;
  }

  .about__line {
    width: 150px;
    margin: 18px 0 0 0;
  }

  .about__photo {
    object-fit: cover;
    width: 247px;
    height: 312px;
    margin: 0 0 41px 0;
  }

  .about__container {
    flex-direction: column;
  }

  .about__paragraph {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 30px 0;
  }

  .about__list {
    list-style-image: url("../../images/list-bullet-small.svg");
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 0 18px;
  }

  .about__list-item {
    margin: 0 0 10px 0px;
    padding-left: 30px;
  }
}
