.sign-up {
  max-width: 1386px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 200px auto 70px auto;
}

.sign-up__header-container {
  display: flex;
  margin: 0 0 80px 0;
}

.sign-up__header-line {
  width: 367px;
  height: 1px;
  background-color: white;
  margin: 35px 28px 0px auto;
}

.sign-up__header {
  font-family: "Playfair Display";
  font-weight: 500;
  line-height: 50px;
  font-size: 60px;
  margin: 0;
}

.sign-up__box {
  margin: 0 auto;
  padding: 0;
  width: 912px;
  height: 470px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}

.sign-up__box-title {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Montserrat';
  line-height: 40px;
  width: 441px;
  text-align: center;
  margin: 79px auto 53px;
  padding: 0;
}

.sign-up__box-list {
  display: flex;
  flex-direction: column;
  list-style: url('../../images/arrow-right.svg');
  margin: 0 384px 115px 336px;
  padding: 0;
}

.sign-up__box-item {
  margin: 0 0 64px 0;
  padding: 0;
}

.sign-up__link {
  font-size: 30px;
  font-weight: 500;
  font-family: 'Montserrat';
  line-height: 40px;
  text-transform: uppercase;
  color: rgba(95, 74, 62, 0.9);
  margin: 0 0 0 36px;
  transition: all .3s;
}

.sign-up__link:hover {
  color: white;
}

@media screen and (max-width: 1439px) {
  .sign-up {
    max-width: 984px;
    margin: 100px auto 100px auto;
  }

  .sign-up__header-container {
    margin: 0 auto 57px auto;
  }

  .sign-up__header-line {
    width: 90px;
    margin: 35px 36px 0px 0;
  }

  .sign-up__header {
    line-height: 50px;
    font-size: 45px;
  }

  .sign-up__box {
    width: 584px;
    height: 370px;
  }

  .sign-up__box-title {
    font-size: 26px;
    line-height: 36px;
    width: 382px;
    margin: 40px auto 70px;
    padding: 0;
  }

  .sign-up__box-list {
    margin: 0 155px 115px auto;
    padding: 0;
  }

  .sign-up__box-item {
    margin: 0 0 40px 0;
  }

  .sign-up__link {
    font-size: 26px;
    line-height: 36px;
  }
}

@media screen and (max-width: 1023px) {
  .sign-up {
    max-width: 708px;
    margin: 75px auto 75px auto;
  }

  .sign-up__header-line {
    width: 180px;
  }

  .sign-up__header {
    font-size: 35px;
    line-height: 40px;
  }

  .sign-up__box-title {
    font-size: 22px;
    line-height: 32px;
  }

  .sign-up__box-list {
    margin: 0 160px 115px auto;
    padding: 0;
  }

  .sign-up__link {
    font-size: 22px;
    line-height: 32px;
  }
}

@media screen and (max-width: 763px) {
  .sign-up {
    max-width: 320px;
    margin: 86px auto 71px auto;
  }

  .sign-up__header-container {
    display: flex;
    margin: 0 0 60px 0;
  }

  .sign-up__header-line {
    display: none;
  }

  .sign-up__header {
    line-height: 46px;
    font-size: 33px;
  }

  .sign-up__box {
    width: 100%;
    height: fit-content;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sign-up__box-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 229px;
    margin: 44px auto 50px;
  }

  .sign-up__box-list {
    list-style: url('../../images/arrow-right.svg');
    margin: 0;
  }

  .sign-up__box-item {
    margin: 0 0 60px 86px;
  }

  .sign-up__box-item:last-of-type {
    margin-bottom: 20px;
  }

  .sign-up__link {
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 0 26px;
  }
}
